@font-face {
	font-family: Chronicle Display Black;
	font-display: swap;
	src: url("/assets/fonts/Chronicle Display Black.woff2") format("woff2"), url("/assets/fonts/Chronicle Display Black.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}@font-face {
	font-family: Chronicle Display Semibold;
	font-display: swap;
	src: url("/assets/fonts/Chronicle Display Semibold.woff2") format("woff2"), url("/assets/fonts/Chronicle Display Semibold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("/assets/fonts/Gilroy-Bold.woff2") format("woff2"), url("/assets/fonts/Gilroy-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
